build/
build-debug/
build-coverage/
build-*/
build_static/
build_monolith/
build-tests/
build-coverage/
build-debug/
build-release/
build-debug-coverage/
build-debug-release/
build-debug-coverage-release/
build-debug-coverage-release-tests/
build-debug-coverage-release-tests-monolith/
build-install/
build-install-debug/
build-x86-vulkan-Release/
build-x86-vulkan-Debug/
build-x86-vulkan-RelWithDebInfo/
build-x86-vulkan-MinSizeRel/
build-x86-vulkan-Coverage/
build-x86-vulkan-DebugCoverage/
build-x86-vulkan-DebugRelease/
build-x86-vulkan-DebugCoverageRelease/
build-x86-vulkan-DebugCoverageReleaseTests/
build-x86-vulkan-DebugCoverageReleaseTestsMonolith/
build-x86_64-vulkan-Release/
build-x86_64-vulkan-Debug/
build-x86_64-vulkan-RelWithDebInfo/
build-x86_64-vulkan-MinSizeRel/
build-x86_64-vulkan-Coverage/
build-x86_64-vulkan-DebugCoverage/
build-x86_64-vulkan-DebugRelease/
build-x86_64-vulkan-DebugCoverageRelease/
build-x86_64-vulkan-DebugCoverageReleaseTests/
build-x86_64-vulkan-DebugCoverageReleaseTestsMonolith/
output/
.vs/
.vscode/
*.user
cmake-*
.idea
usdinterop/
release/
blacksun/
q3rtx/
wolf/
idtech3pbr/
q3ios/
build_monolith/
logs/
reference/