[submodule "src/external/src/SparseVoxelOctree"]
	path = src/external/src/SparseVoxelOctree
	url = https://github.com/AdamYuan/SparseVoxelOctree
[submodule "tools/tiled"]
	path = tools/tiled
	url = https://github.com/mapeditor/tiled.git
[submodule "external/symforce"]
	path = external/symforce
	url = https://github.com/symforce-org/symforce.git
