[submodule "src/external/src/SparseVoxelOctree"]
	path = third_party/src/SparseVoxelOctree
	url = https://github.com/AdamYuan/SparseVoxelOctree
[submodule "tools/tiled"]
	path = tools/tiled
	url = https://github.com/mapeditor/tiled.git
[submodule "src/external/FreeUSD"]
	path = third_party/FreeUSD
	url = https://github.com/gopexllc/FreeUSD.git
[submodule "src/external/idtech3backend"]
	path = third_party/idtech3backend
	url = https://github.com/timfox/idTech3Backend.git
[submodule "src/external/idtech3-emulator"]
	path = third_party/idtech3-emulator
	url = https://github.com/timfox/idTech3-Emulator.git
[submodule "third_party/box3d"]
	path = third_party/box3d
	url = https://github.com/timfox/idTech3-box3d.git
