<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2026 Gopex LLC. All rights reserved.
  Android manifest for id Tech 3 engine.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- Vulkan hardware requirement -->
    <uses-feature android:name="android.hardware.vulkan.level" android:version="1" android:required="true" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x00401000" android:required="true" />

    <!-- Touchscreen (not required for TV/desktop) -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- Game controller support -->
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:appCategory="game"
        android:isGame="true"
        android:resizeableActivity="true"
        tools:targetApi="tiramisu">

        <activity
            android:name=".GameActivity"
            android:exported="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:largeHeap="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SDL accelerometer disabled by default -->
        <meta-data android:name="SDL_ENV.SDL_ACCELEROMETER_AS_JOYSTICK" android:value="0" />
    </application>

</manifest>
